@import './mixins';

.formContainerCard {
  padding: 0px 10px;
  background-color: #fff;

  .containerBody {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    .cardTitle {
      font-weight: 500;
      margin-bottom: 1.5rem;
      padding: 10px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    .formFieldRow {
      display: flex;
      gap: 5px;
      flex: 0 1 auto;
      line-height: 1.5;
      label {
        padding: 0.5rem;
        width: 15%;
      }

      .form-control,
      input,
      textarea {
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        color: #495057;
        font-weight: 400;
        padding: 0.6rem 0.75rem;
        width: 100%;
        transition:
          border-color 0.15s ease-in-out,
          box-shadow 0.15s ease-in-out;
        font-size: 0.8125rem;
        line-height: 1.5;
      }
      .form-control:focus {
        border-color: #b1bbc4;
      }
    }
    .formFieldRow > div {
      flex: 0 1 auto;
      width: 85%;
    }
    .buttonContainer {
      flex: 1;
      justify-content: flex-end;
      div {
        padding: 0px 5px;
      }
      .submitButton {
        @include button;
      }
    }
  }
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

.fileDropzone {
  border: 2px dashed #eff2f7;
  border-radius: 6px;
  min-height: 230px;
  @include flex;
  .fileUploadText {
    @include flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .formFieldRow {
    flex-direction: column;
    label {
      width: 100% !important;
      padding: 0px !important;
    }
  }
  .formFieldRow > div {
    width: 100% !important;
  }
  .buttonContainer {
    div {
      padding: 0px !important;
    }
  }
  .formContainerCard {
    .containerBody {
      .cardTitle {
        padding: 0px !important;
      }
    }
  }
}
