@mixin button {
    background-color: #556ee6;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    padding: 6px 10px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &:hover {
        background-color: #4458b8;
        text-decoration: none;
        transition-duration: 0.1s;
    }
}
