.sidebar {
    background: #2a3042;
    bottom: 0;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    margin-top: 0;
    padding-top: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 1001;
    cursor: pointer;

    ul {
        list-style: none;
    }
    li {
        div:hover {
            color: aliceblue;
            transition: color 0.5s;
        }
    }
    .menu_title {
        font-size: 11px;
        color: #6a7187;
        padding: 12px 20px;
    }
    .menu_content {
        font-size: 13px;
        color: #a6b0cf;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;

        a {
            padding: 0.625rem 1.5rem;
            width: 100%;
        }
        div {
            @extend a;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            a {
                padding: 0px;
            }
        }

        ul {
            li {
                padding: 8px 20px;
            }
        }
        .projectsMenu,
        .usersMenu {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
        }
        .show {
            max-height: 200px;
            transition: max-height 0.3s ease;
        }
    }
    .menuArrow {
        transition: transform 0.3s ease;
    }
    .menuActive .menuArrow {
        transform: rotate(-180deg);
        transition: transform 0.3s ease; /* Add transition for smooth rotation */
    }
}
.active {
    color: #fff;
}
