.mainContent {
    .page-content {
        padding: 50px 18px 60px;

        .page-title {
            padding-bottom: 24px;
            h4 {
                font-size: 16px !important;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .dashboard {
            --bs-gutter-x: 24px;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-left: calc(var(--bs-gutter-x) * -0.5);
            margin-right: calc(var(--bs-gutter-x) * -0.5);
            margin-top: calc(var(--bs-gutter-y) * -1);

            .col-lg-8 {
                flex: 0 0 auto;
                width: 66.66667%;
                margin-top: var(--bs-gutter-y);
                max-width: 100%;
                padding-left: calc(var(--bs-gutter-x) * 0.5);
                padding-right: calc(var(--bs-gutter-x) * 0.5);

                .projectdetails {
                    font-size: 15px !important;
                    margin-top: 1.5rem !important;
                }

                .dflex {
                    display: flex !important;
                    .avatar-sm {
                        height: 3rem;
                        width: 3rem !important;
                        margin-right: 1.5rem !important;
                    }

                    .uidetails {
                        display: flex !important;
                        flex-direction: column;
                        h5 {
                            font-size: 15px !important;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        p {
                            --bs-text-opacity: 1;
                            color: #74788d !important;
                            color: var(--bs-gray-600) !important;
                        }
                    }
                }
            }

            .col-lg-4 {
                flex: 0 0 auto;
                width: 33.33333%;
                margin-top: var(--bs-gutter-y);
                max-width: 100%;
                padding-left: calc(var(--bs-gutter-x) * 0.5);
                padding-right: calc(var(--bs-gutter-x) * 0.5);
            }

            .card {
                // box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
                margin-bottom: 24px;
                --bs-card-spacer-y: 1.25rem;
                --bs-card-spacer-x: 1.25rem;
                --bs-card-title-spacer-y: 0.5rem;
                --bs-card-border-width: 0;
                --bs-card-border-color: #f6f6f6;
                --bs-card-border-radius: 0.25rem;
                --bs-card-box-shadow: ;
                --bs-card-inner-border-radius: 0.25rem;
                --bs-card-cap-padding-y: 0.625rem;
                --bs-card-cap-padding-x: 1.25rem;
                --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
                --bs-card-cap-color: ;
                --bs-card-height: ;
                --bs-card-color: ;
                --bs-card-bg: #fff;
                --bs-card-img-overlay-padding: 1rem;
                --bs-card-group-margin: 12px;
                word-wrap: break-word;
                background-clip: initial;
                // background-color: var(--bs-card-bg);
                border: var(--bs-card-border-width) solid
                    var(--bs-card-border-color);
                border-radius: var(--bs-card-border-radius);
                display: flex;
                flex-direction: column;
                height: var(--bs-card-height);
                min-width: 0;
                position: relative;
            }

            .card-body {
                color: var(--bs-card-color);
                flex: 1 1 auto;
                padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
            }
        }
    }
}
